.box-table {
    column-gap: 90px;
    row-gap: 40px;
}

.month {
    font-size: 24px;
    margin-right: 10px;
}

td {
    padding: 0.6rem;
}

body {
    color: #fff;
}

.wrapper {
    padding: 30px 50px;
}

.add-btn {
    font-size: 12px;
    width: 60px;
    height: 30px;
}