#root {
    user-select: none;
}

.app {
    height: 2000px;
    background-color: #1f1f1f;
}

.wrapper {
    color: #fff;
    justify-content: space-evenly;
    padding: 20px 0;
}

.member-drag:hover {
    cursor: pointer;
}

.member-handle {
    color: #fff;
    justify-content: center;
}

.table-handle,
.table-input {
    width: 500px;
}

.table-output {
    width: 300px;
}

.total-table {
    display: flex;
    justify-content: center;
}

/* .delete {
    display: none;
} */