#root {
    user-select: none;
}

.app {
    height: 1200px;
    background-color: #1b1f22;
}

.wrapper {
    color: #fff;
    justify-content: space-evenly;
    padding: 20px 0;
}

.ip-wrap {
    display: flex;
    justify-content: center;
}

.btn-add {
    font-size: 14px;
}

.member,
.member-drag {
    width: 30%;
}

.member-drag {
    width: 600px;
} 

.member-drag:hover {
    cursor: pointer;
}

.member-handle {
    color: #fff;
    justify-content: center;
}

.table-output {
    width: 300px;
}

.total-table {
    display: flex;
    justify-content: center;
}

.colBd {
    border: 1px solid #fff;
}

.wrap-tb {
    display: flex;
    justify-content: center;
}

.hight-row {
    height: 44px;
    width: 350px;
}

.hide {
    display: none;
}