#root {
    user-select: none;
}

.app {
    height: 1200px;
    background-color: #1b1f22;
}

.wrapper {
    color: #fff;
    justify-content: space-evenly;
    padding: 20px 0;
}

.ip-wrap {
    display: flex;
    justify-content: center;
}

.btn-add {
    font-size: 14px;
}

.member,
.member-drag {
    width: 30%;
}

.member-drag {
    width: 600px;
}

.member-drag:hover {
    cursor: pointer;
}

.member-handle {
    color: #fff;
    justify-content: center;
}

.total-table {
    display: flex;
    justify-content: center;
}

.colBd {
    border: 1px solid #fff;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.colBd:hover .icon-delete {
    display: block;
}

.wrap-tb {
    display: flex;
    justify-content: center;
}

.hight-row {
    height: 44px;
    width: 350px;
}

.hide {
    display: none;
}

.red-color {
    color: red;
}

.icon-delete {
    position: absolute;
    top: 15px;
    right: 26px;
    display: none;
    font-size: 14px;
}

/* CustomTable.css */
.borderless-table {
    width: 300px;
    border-collapse: collapse;
}

.borderless-table th,
.borderless-table td {
    border: none;
    padding: 10px;
    text-align: center;
}

.borderless-table th {
    background-color: #f2f2f2;
}

.borderless-table tr:hover td {
    color: #ff5733;
}

.borderless-table th:first-child,
.borderless-table td:first-child {
    border-left: none;
}

.borderless-table th:last-child,
.borderless-table td:last-child {
    border-right: none;
}